body,
html {
  font-family: 'Ubuntu', sans-serif;
  margin: 0px;
  padding: 0px;
}

#menu ul {
  text-align: center;
  margin: 0px;
  padding: 0px;
  height: 100px;
}

#menu ul li {
  text-align: center;
  display: inline-block;
  height: 100px;
  padding: 0px 20px 0px 20px;
  margin: 0px;
  line-height: 48px;
  text-transform: uppercase;
}

#menu ul li:hover {
  background-color: grey;
  color: white;
  cursor: pointer;
  
}

.current {
  background-color: grey;
  color: white;
}

#home {
  background-color: #ff7e57;
  margin: 0px;
  height: 90vh;
  width: 100%;
  color: white;
  text-align: center;
}

.content {
  padding-top: 50px;
}

#name {
  text-align: center;
  color: white;
  font-size: 100px;
  font-family: 'Ubuntu', sans-serif;
  padding: 0px;
}

.info {
  text-align: center;
  color: white;
  font-size: 50px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 100;
}

.portfolio {
 
  background: #73a1b0;
  height: 90vh; 
  display: none;
}

#bottomBar {
  height: 100px; 
  background-color: white;
  text-align: right;
  font-size: 48px;
  color: grey;
  padding-right: 20px;
}

a {
  color: grey;
}

a:visited {
  color:grey;
}

a:hover {
  color: dimgrey;
}

#portfol-grid {
  padding-top: 50px;
}

#mapid { height: 241px; }

#col1 #col2 #col3 {
	height: 100px;
}
