#blurbs {
  position: relative;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 25px;
  background-color: white;
  border-radius: 5px;
}

#form {
  position: relative;
  text-align: center;
  padding-top: 200px;
}

body {
  background-color: #00ADD5;
  
  height: 100%;


  background-repeat: no-repeat;
  font-family: open sans;
}

h1 {
  border-top: 1px solid black;
  font-size: 24px;
  color: #00ADD5;
  padding-top: 5px;
}


.fa {
  font-size: 20px;
  color: #696969;
  padding-left: 4px;
  
}

.fa:hover {
  font-weight:bold;
  color: black;
  
}

